*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.pem
*.xlsx
out
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
typings
environments/.*
/vendor/
.vscode/
.scannerwork
sonar-project.properties
.env*
.nyc_output
coverage

lint-report.html

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


denormalizers/CIReadModel/viewBuilders_*
denormalizers/CIElasticsearch/viewBuilders_*
denormalizers/CICatchAll/viewBuilders_*
denormalizers/SMSAlert/viewBuilders_*
